// Paths
$imageDir: '../images/';
$iconDir: '../icons/';
$fontDir: '../fonts/';
$videoDir: '../videos/';

// Grid
$commonWidth: 1180px;
$gutter: 15px;

// Fonts

// Colors
$white: #FFF;
$black: #000;
 