@import '../../helpers/variables';
@import '../../helpers/mixins';


.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 670px;
  margin: 0 auto;
}

.advantages__item {
  position: relative;
  max-width: 235px;
  width: 100%;
  margin-bottom: 50px;
  padding-top: 110px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  &:after {
    @include pseudo;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85px;
    height: 85px;
    background-image: url($imageDir + "design.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}