@import '../../helpers/variables';
@import '../../helpers/mixins';


.automate-business{
  padding: 140px 0 110px;
  font-family: 'Montserrat', sans-serif;
  >.container{
    align-items: center;
  }
}

.automate-business__title{
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 36px;
}

.automate-business__subtitle{
  margin-bottom: 10px;
  font-weight: 600;
}

.automate-business__text{
  max-width: 1100px;
  margin-bottom: 45px;
  color: #808080;
  line-height: 30px;
  text-align: center;
}

.automate-business__link{
  display: flex;
}

.automate-business__button{
  &:not(:last-child){
    margin-right: 20px;
  }
}
