@import '../../helpers/variables';
@import '../../helpers/mixins';


.button{
  position: relative;
  width: 100%;
  padding: 20px 15px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 50px;
  background-color: transparent;
}

.button--dark-blue{
  background-color: #22233a;
}

.button--uppercase{
  text-transform: uppercase;
}

.button--big{
  padding: 25px 0;
 }

.button__span{
  padding-top: 5px;
  display: block;
  font-size: 18px;
}

.button--download{
  padding-left: 95px;
  padding-right: 40px;
  text-align: left;
  font-size: 12px;
}
