@import '../../helpers/variables';
@import '../../helpers/mixins';


.button {
  position: relative;
  width: 100%;
  padding: 20px 15px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  transition: all .3s;
}

.button--dark-blue {
  background-color: #22233a;
  &:hover{
    background-color: #210862;
  }
}

.button--blue {
  background-color: #226be2;
  &:hover{
    background-color: #0838e2;
  }
}

.button--uppercase {
  text-transform: uppercase;
}

.button--big {
  padding: 25px 0;
}

.button--medium {
  max-width: 210px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 15px;
}

.button__span {
  padding-top: 5px;
  display: block;
  font-size: 18px;
}

.button--download {
  padding-left: 95px;
  padding-right: 40px;
  text-align: left;
  font-size: 12px;
}

.button--border {
  color: #226be2;
  border: 2px solid #226be2;
}

.button--small {
  max-width: 210px;
}
