@import '../../helpers/variables';
@import '../../helpers/mixins';


.rent-price{
  padding: 95px 0 65px;
  background-color: #f8f6f6;
}

.rent-price__title{
  margin-bottom: 65px;
}

.rent-price__item{
  &:not(:last-child){
    margin-right: 35px;
  }
}

.rent-price__package{
  margin-bottom: 55px;
}