@import '../../helpers/variables';
@import '../../helpers/mixins';

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  text-align: center;
  color: #5d5d5d;
}

.title--black {
  color: #000;
}

.title--white {
  color: #fff;
}

.title--big {
  font-size: 52px;
}

